{% extends 'base.html' %}
{% block title %}プロフィール{% endblock %}
{% block content %}
  <h1>{{ user.username }}</h1>
  <p>フォロー：<a href="{% url 'accounts:following_list' user.username %}">{{ followings_num }}</a> / フォロワー：<a href="{% url 'accounts:follower_list' user.username %}">{{ followers_num }}</a></p>
  
  {% if is_following %}
    <a href="{% url 'accounts:unfollow' user.username %}">フォロー解除</a>
  {% else %}
    <a href="{% url 'accounts:follow' user.username %}">フォローする</a>
  {% endif %}
  <p><a href="{% url 'tweets:home' %}">ホームへ戻る</a></p>
  {% for tweet in tweet_list %}
    <div>
      <p>投稿者 : {{ tweet.user }}</p>
      <p>作成日時 : {{ tweet.created_at }}</p>
      <p>内容 : {{ tweet.content }}</p>
      <a href="{% url 'tweets:detail' tweet.pk %}">詳細</a>
    </div>
  {% endfor %}
{% endblock %}
