{% extends 'base.html' %}
{% load static %}
{% block title %}プロフィール{% endblock %}
{% block content %}
  <h1>{{ user.username }}</h1>
  <p>フォロー：<a href="{% url 'accounts:following_list' user.username %}">{{ followings_num }}</a> / フォロワー：<a href="{% url 'accounts:follower_list' user.username %}">{{ followers_num }}</a></p>
  {% if request.user == user %}
    <p>プロフィール</p>
  {% elif is_following %}
    <form action="{% url 'accounts:unfollow' user.username %}" method="POST">
      {% csrf_token %}
      <button type="submit">フォロー解除</button>
    </form>
  {% else %}
    <form action="{% url 'accounts:follow' user.username %}" method="POST">
      {% csrf_token %}
      <button type="submit">フォローする</button>
    </form>
  {% endif %}
  
  <p><a href="{% url 'tweets:home' %}">ホームへ戻る</a></p>
  {% for tweet in tweet_list %}
    <div>
      <p>投稿者 : {{ tweet.user }}</p>
      <p>作成日時 : {{ tweet.created_at }}</p>
      <p>内容 : {{ tweet.content }}</p>
      <p>
        {% if tweet.liked %}
          <button type="button" class="btn btn-outline-danger btn-sm unlike-btn" data-url="{% url 'tweets:unlike' tweet.pk %}">いいね解除</button>
        {% else %}
          <button type="button" class="btn btn-outline-primary btn-sm like-btn" data-url="{% url 'tweets:like' tweet.pk %}">いいね</button>
        {% endif %}
        <span class="like-num">{{ tweet.like_num }}</span></p>
      <a href="{% url 'tweets:detail' tweet.pk %}">ツイート詳細</a>
    </div>
  {% endfor %}
  <script src="{% static 'js/like.js' %}"></script>
{% endblock %}
