{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  <h1>Home</h1> 
  <p><a href="{% url 'accounts:user_profile' user.username %}">プロフィール</a></p>
  {% for tweet in tweet_list %}
  <div>
    <p>投稿者 : {{ tweet.user }}</p>
    <p>作成日時: {{ tweet.created_at }}</p>
    <p>内容 : {{ tweet.content }}</p>
    <a href="{% url 'tweets:detail' tweet.pk %}">詳細</a>
  </div>
  {% endfor %}
  <p><a href="{% url 'tweets:create' %}"><button type="button">ツイート作成</button></a></p>
  <a href="{% url 'accounts:logout' %}">ログアウト</a>
{% endblock %}
