{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  <h1>Home</h1> 
  <p><a href="{% url 'accounts:user_profile' user.username %}">プロフィール</a></p>
  {% for tweet in tweet_list %}
  <div>
    <p>投稿者 : <a href="{% url 'accounts:user_profile' tweet.user.username %}">{{ tweet.user }}</a></p>
    <p>作成日時: {{ tweet.created_at }}</p>
    <p>内容 : {{ tweet.content }}</p>
    <p>
      {% if liked %}
          <button type="button" class="btn btn-outline-danger btn-sm" id="unlike-btn" data-url="{% url 'tweets:unlike' tweet.pk %}">いいね</button>
      {% else %}
          <button type="button" class="btn btn-outline-primary btn-sm" id="like-btn" data-url="{% url 'tweets:like' tweet.pk %}">いいね</button>
      {% endif %}
      <span id="like-num">{{ like_num|default:"0" }}</span></p>
    <a href="{% url 'tweets:detail' tweet.pk %}">ツイート詳細</a>
  </div>
  {% endfor %}
  <p><a href="{% url 'tweets:create' %}"><button type="button">ツイート作成</button></a></p>
  <a href="{% url 'accounts:logout' %}">ログアウト</a>

{% endblock %}
