{% load static %}

{% if tweet.liked %}
  <button type="button" class="btn btn-outline-danger btn-sm unlike-btn" data-unlike-url="{% url 'tweets:unlike' tweet.pk %}" data-like-url="{% url 'tweets:like' tweet.pk %}">いいね解除</button>
{% else %}
  <button type="button" class="btn btn-outline-primary btn-sm like-btn" data-like-url="{% url 'tweets:like' tweet.pk %}" data-unlike-url="{% url 'tweets:unlike' tweet.pk %}">いいね</button>
{% endif %}

<span class="like-num">{{ tweet.like_num }}</span>

<script src="{% static 'js/like.js' %}"></script>
