{% extends 'base.html' %}
{% load static %}
{% block content %}
  <a href="{% url 'tweets:home' %}">ホームへ戻る</a>
  <div>
    <p>ツイート作成者 : <a href="{% url 'accounts:user_profile' tweet.user.username %}">{{ tweet.user }}</a></p>
    <p>内容 : {{ tweet.content }}</p>
    <p>作成日時 : {{ tweet.created_at }}</p>
    <p>
      {% include "tweets/like.html" with tweet=tweet %}
    </p>
  </div>
  {% if tweet.user == request.user %}
    <a href="{% url 'tweets:delete' tweet.pk %}"><button type="button">削除</button></a>
  {% endif %}
  <script src="{% static 'js/like.js' %}"></script>
{% endblock %}
