{% extends 'base.html' %}
{% block content %}
  <a href="{% url 'tweets:home' %}">ホームへ戻る</a>
  <div>
    <p>ツイート作成者 : <a href="{% url 'accounts:user_profile' tweet_detail.user.username %}">{{ tweet_detail.user }}</a></p>
    <p>内容 : {{ tweet_detail.content }}</p>
    <p>作成日時 : {{ tweet_detail.created_at }}</p>
    <p>
    {% if liked %}
        <button type="button" class="btn btn-outline-danger btn-sm" id="unlike-btn" data-url="{% url 'tweets:unlike' tweet_detail.pk %}">いいね</button>
    {% else %}
        <button type="button" class="btn btn-outline-primary btn-sm" id="like-btn" data-url="{% url 'tweets:like' tweet_detail.pk %}">いいね</button>
    {% endif %}
    <span id="like-num">{{ like_num|default:"0" }}</span></p>
  </div>
  {% if tweet_detail.user == request.user %}
    <a href="{% url 'tweets:delete' tweet_detail.pk %}"><button type="button">削除</button></a>
  {% endif %}
  
{% endblock %}
